---
import HomeSider from '@components/layout/HomeSider.astro';
import PostList from '@components/post/PostList.astro';
import Cover from '@components/ui/cover/Cover.astro';
import { CONTENT_PADDING, PAGINATION } from '@constants/layout';
import { seoConfig } from '@constants/site-config';
import Layout from '@layouts/Layout.astro';
import TwoColumnLayout from '@layouts/TwoColumnLayout.astro';
import { getNonFeaturedPosts } from '@lib/content';
import { toPostCardDataList } from '@lib/content/transforms';
import type { PaginateFunction } from 'astro';
import Divider from '@/components/ui/divider';
import { defaultLocale, getLocaleFromUrl, t } from '@/i18n';

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const postCollections = await getNonFeaturedPosts(defaultLocale);
  return paginate(postCollections, { pageSize: PAGINATION.pageSize });
}

const { page } = Astro.props;
const locale = getLocaleFromUrl(Astro.url.pathname);
const postCardData = toPostCardDataList(page.data, locale);
---

<Layout title={seoConfig.title}>
  <TwoColumnLayout>
    <Cover slot="cover" />
    <HomeSider slot="sider" />
    <div
      class={`shadow-box bg-gradient-start tablet:shadow-none flex flex-col gap-4 overflow-hidden ${CONTENT_PADDING.standard}`}
    >
      <Divider>{t(locale, 'post.postList')}</Divider>
      <PostList posts={postCardData} page={page} />
    </div>
  </TwoColumnLayout>
</Layout>
