---
import { cn } from '@lib/utils';

interface Props {
  title: string;
  count?: number;
  href: string;
  level?: 'h2' | 'h3';
  className?: string;
}

const { title, count = 0, href, level = 'h2', className } = Astro.props;
const Tag = level;
---

<Tag
  class={cn(
    'shoka-decoration-circle px-7.5 group relative py-5 text-2xl/9 h-19 font-bold',
    {
      'h-17 text-lg': level === 'h3',
    },
    className,
  )}
>
  <a href={href} class="dashed-border group-hover:border-blue group-hover:text-blue border-b">
    {title}
  </a>
  <span class={cn('text-[0.8em] text-muted-foreground')}>({count})</span>
</Tag>
