---
type BorderStyle = "dashed" | "solid" | "dotted";

interface Props {
	style?: BorderStyle;
	class?: string;
}

const { style = "dashed", class: className } = Astro.props;
---

<div
	class:list={["border-b border-(--line-divider)", className]}
	style={`border-style: ${style};`}
>
</div>
