---
import { Icon } from "astro-icon/components";

import { formatDateToYYYYMMDD } from "@/utils/date-utils";

interface Props {
	date: Date;
	class?: string;
}

const { date, class: className } = Astro.props;
---

<div class:list={["flex items-center", className]}>
	<div class="meta-icon">
		<Icon
			name="material-symbols:calendar-today-outline-rounded"
			class="text-xl"
		/>
	</div>
	<span class="text-50 text-sm font-medium">{formatDateToYYYYMMDD(date)}</span
	>
</div>
